/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.showcaseTitleContainer { 
  justify-content: center;
  align-items: center; 
  padding: 0 var(--ifm-spacing-horizontal); 
}

.showcaseTitle { 
  margin: 0; 
  white-space: pre-wrap; 
  text-align: center;
}

.divider {
  flex: 1;
  background-color: #FFE52B;
  height: 5px;
}

.showcaseSubtitleContainer {
  text-align: center;
  padding: 2vh 0;
}

.showcaseRow {
  display: flex;
  padding: 20px var(--ifm-spacing-horizontal);
  height: 33vh;
}


@media screen and (min-width: 997px) {
  .showcaseRow:nth-child(even) {
    flex-direction: row-reverse;
  }

  .showcaseRow:nth-child(even) .showcaseDescriptionContainer {
    margin-right: 4vw;
  }
  
  .showcaseRow:nth-child(odd) .showcaseDescriptionContainer {
    margin-left: 4vw;
  }
}

.showcaseContainer { 
  justify-content: center;
  padding-bottom: 3vh;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }


  .showcaseRow {
    flex-direction: column;
    height: unset;
  }

  .showcaseDescriptionContainer {
    margin-top: 1vh;
  }
}

.showcaseRow h2 {
  padding-right: 80px;
}

.underline {
  box-sizing: border-box;
  max-width: fit-content;
  border-bottom: 4px solid #FFE52B;
}

.showcaseImg {
  object-fit: contain; 
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
}

.showcaseDescriptionContainer { 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature h3 {
  letter-spacing: -0.03em;
}

.feature>div {
  font-size: 5em;
  color: #aaa;
}