#editor {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#monaco-editor {
  flex-grow: 1;
  padding: 15px 15px 15px 0px;
  max-width: 100%;
  overflow-x: auto;
  background-color: #ffffff;
}

span[data-test="pip_logs"] pre {
  height: 80vh;
  background-color: #282b2e;
}

span[data-test="pip_logs"] pre>code {
  display: flex;
  max-height: 80vh;
}

span[data-test="pip_logs"] code>code {
  white-space: pre-wrap;
  display: flex;
  flex-direction: column-reverse;
}

#files {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 13px;
  user-select: none;
}

#explorer {
  position: relative;
  width: 200px;
}

#width-resizer {
  position: absolute;
  top: 0;
  right: -6px;
  bottom: 0;
  width: 1px;
  background-color: #d3d3d3;
  background-clip: content-box;
  padding: 0 0.3rem;
  z-index: 1;
}

#width-resizer:hover {
  background-color: #000000;
  width: 2px;
  cursor: col-resize;
}

#files li>span:hover {
  cursor: pointer;
}

#files ul {
  list-style: none;
  padding-left: 0;
}

span.tree-item:hover,
.tree-item-active {
  background-color: #f0f0f0;
}

#file-tree-menu .menu {
  box-shadow: 0px 0px 8px #888888;
  display: inline-block;
  position: fixed;
  background: #ffffff;
  z-index: 2;
}

#file-tree-menu .menu>li {
  display: flex;
  align-items: center;
  width: 150px;
  font-size: 12px;
  font-weight: 600;
}

#file-tree-menu .menu>li:hover {
  color: #3d75dc;
  background-color: #e5e5e5;
  cursor: pointer;
}

#file-tree-menu .menu>li.delete:hover {
  color: #ff0000;
}

#file-tree-menu .menu-item-img {
  height: 18px;
  width: 18px;
  padding: 0.4rem 0.8rem 0.5rem 0.8rem;
}

#file-tree-menu .menu>li:hover .menu-item-img {
  filter: invert(37%) sepia(92%) saturate(446%) hue-rotate(179deg) brightness(101%) contrast(96%);
}

#file-tree-menu .menu>li.delete:hover .menu-item-img {
  filter: invert(14%) sepia(72%) saturate(6261%) hue-rotate(2deg) brightness(99%) contrast(127%);
}

#file-tree input:focus {
  outline: none;
}

#file-tree input[type=text] {
  border: none;
  outline: 1px solid black;
  width: 100%;
  padding-right: 5px;
  margin: 0;
  box-sizing: border-box;
  background-color: transparent;
  font-weight: 100;
  color: #808080;
  font-size: 13px;
}

#file-tree input[type=text]:focus {
  color: #000000;
  outline: 1px solid #3d75dc;
}

#file-tree .tree-item {
  padding: 0.2rem 0rem 0.2rem 0rem;
  display: flex;
  align-items: center;
}

#file-tree .tree-item-img {
  height: 18px;
  width: 18px;
  padding: 0rem 0.2rem 0rem 0.4rem;
}

.tree-item-label {
  white-space: nowrap;
}

/* TMP hack till new version release. Remove when on 0.23. */
.ms-MessageBar {
  z-index: 999;
}