/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap')
@import url('https://rsms.me/inter/inter-ui.css')

.navbar
  .site-name
    font-weight: 800 !important
    letter-spacing: -0.02em


.home
  .hero
    img
      max-width: 450px !important
    h1
      font-size: 4rem !important
      font-weight: 800
      letter-spacing: -0.055em
      line-height: 0.6em
    .description
      font-weight: 700
      letter-spacing: -0.02em
    .action-button
      border: none !important
      border-radius: 0px !important
      background: #ffdf00 !important
      color: #000 !important
      &:hover
        background: #000 !important
        color: #fff !important
  .features
    .feature
      h2
        font-weight: 700
        letter-spacing: -0.02em
        font-weight: normal
        letter-spacing: normal
        font-family: 'Rock Salt'



#app
  font-family: 'Inter', sans-serif

.page
  h1
    font-weight: 700
    letter-spacing: -0.02em
  h2
    letter-spacing: -0.02em
  a
    text-decoration: none!important
    border-color: #000
    border-bottom-style: solid
    border-bottom-width: 1px


/*

.navbar
  .site-name
    font-size 1rem!important

.sidebar-heading
  font-weight normal!important

h1, h2, h3
  font-weight normal

*/