/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #ffb600
$accentColor = #ee4c2c
$accentColor = #7400b8
$accentColor = #ef233c
$accentColor = #ff0054
$accentColor = #8338ec
$accentColor = #000000
$textColor = #000000
$borderColor = #eaecef
$codeBgColor = #282c34
