.searchBox {
    width: 280px;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 6px 12px 6px 12px;
}

.input {
    outline: none;
    border: none;
    margin-left: 6px;
    font-size: 18px;
    width: 208px;
    padding: 0px 12px 0px 12px;
}

.box {
    border-radius: 8px;
    box-shadow: 1px 1px 3px grey;
    width: 86px;
    height: 86px;
}

.box:hover {
    border-radius: 8px;
    box-shadow: 1px 1px 6px grey;
}

.iconName {
    font-size: 11px;
    padding-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box > .iconName {
    visibility: hidden;
}
.box:hover > .iconName {
    visibility: visible;
}

.copiedBox {
    margin-top: 8px;
    background-color: #ffe52a;
    border-radius: 0px 0px 8px 8px;
}

.copied {
    font-size: 11px;
    font-weight: bold;
    color: black;
}
