.body {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: calc(var(--ifm-z-index-fixed) + 1);
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.img {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  max-width: 100vw;
  cursor: auto
}

.closeButton {
  position: absolute;
  cursor: pointer;
}

.imageNav {
  position: absolute;
  left: 50%;
  white-space: nowrap;
  overflow-x: auto;
  max-width: 100vw;
  transform: translateX(-50%);
  cursor: auto;
  user-select: none
}

.navImg {
  box-sizing: border-box;
  object-fit: cover;
  margin: 2px;
  cursor: pointer;
  filter: brightness(30%);
  border: 2px solid #000
}

.navImgActive,
.navImg:hover {
  filter: unset;
  border: 2px solid;
  border-color: #FFE52B
}

.text {
  position: absolute;
  left: 50%;
  box-sizing: border-box;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translateX(-50%);
  cursor: auto
}

.title {
  font-weight: 500
}

.description {
  color: #bbb
}

.iconStylesRootArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.button {
  border: 1px solid #000;
  padding: 4px;
  color: #bbb;
  background-color: rgba(0, 0, 0, 0.3);
}

.button:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
}

.button:active {
  color: rgba(255, 255, 255, 0.7);
}