# Client
node_modules
.eslintrc.*
tsconfig.json
client
!client/out/extension.js
package.json
package-lock.json

# Server
pygls.log
server/tests/
.pytest_cache
.mypy_cache
*__pycache__*
requirements.txt
venv
!venv/lib/python3.8/site-packages/parso
!venv/lib/python3.8/site-packages/pygls
!venv/lib/python3.8/site-packages/pydantic
!venv/lib/python3.8/site-packages/typeguard
!venv/lib/python3.8/site-packages/typing_extensions.py
!venv/lib/python3.8/site-packages/**/LICENSE*

# General
Makefile
README.template.md
.vscode
.git*
*.vsix
*.gif