# Client
node_modules
.eslintrc.*
tsconfig.json
client
!client/out/extension.js
package.json
package-lock.json

# Server
pygls.log
server/tests/
.pytest_cache
.mypy_cache
*__pycache__*
requirements.txt
venv

# General
Makefile
README.template.md
.vscode
.git*
*.vsix
*.gif