altair==4.2.0
bokeh==3.1.1
Faker==13.3.4
loguru==0.6.0
matplotlib>=3.9.0
numpy>=2.0.0
opencv-python>=4.10.0
pandas>=2.0.0
pandas-stubs
plotly==5.7.0
scikit-learn>=1.5.0
toml==0.10.2
vega-datasets==0.9.0
