name: Publish Conda

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release Version"
        required: true

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  VERSION: "${{ github.event.inputs.version }}"

jobs:
  release:
    name: Publish Conda
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GIT_TOKEN }}

      - name: Publish to Conda
        uses: h2oai/wave_publish_conda_package_action@v1.0.4
        with:
          CondaDir: "py/h2o_wave/conda"
          Platforms: "noarch"
          CondaUsername: ${{ secrets.CONDA_USERNAME }}
          CondaPassword: ${{ secrets.CONDA_PASSWORD }}
        env:
          # VERSION clashes with conda build. Use PKG_VERSION instead.
          PKG_VERSION: ${{ env.VERSION }}
