name: Release Wave

on:
  push:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  VERSION: "1.1.1"
  TAG: "v1.1.1"

jobs:
  release:
    name: Release Wave
    runs-on: ubuntu-20.04

    outputs:
      build-version: ${{ env.VERSION }}

    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GIT_TOKEN }}

      - uses: actions/setup-go@v1
        with:
          go-version: '1.19.4'

      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: Setup
        run: make setup

      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          working-directory: ./r

      - name: Build Release
        run: make release
        env:
          NODE_OPTIONS: '--max-old-space-size=8192'

      - name: Unit Test
        run: |
          make test-ui-ci
          make test-py-ci


      - name: Publish apps for Cloud
        run: make build-apps

      - name: Download H2O CLI
        working-directory: ./py/tmp/tour/
        run: mkdir -p .bin && curl -o .bin/h2o https://h2oai-cloud-release.s3.amazonaws.com/releases/ai/h2o/h2o-cloud/latest/cli/linux-amd64/h2o

      - name: Change permissions
        working-directory: ./py/tmp/tour/
        run: chmod +x .bin/h2o

      - name: Make air-gapped bundle
        working-directory: ./py/tmp/tour/
        run: |
          # Use the h2o_wave wheel file for building the runtime image 
          cp py/h2o_wave/dist/h2o_wave-${{ env.VERSION }}-py3-none-manylinux1_x86_64.whl ./py/tmp/tour/
          sed -i -r -e "s/h2o_wave==\{\{VERSION\}\}/h2o_wave-${{ env.VERSION }}-py3-none-manylinux1_x86_64.whl/g" requirements.txt
          .bin/h2o bundle \
            --docker-base-image 524466471676.dkr.ecr.us-east-1.amazonaws.com/q8s/launcher:v0.31.0-310 \
            --docker-use-buildkit \
            --generate-helm-charts \
            --helm-chart-version ${{ env.VERSION }} \
            --helm-chart-name tour \
            --helm-app-bundle-image-repo 524466471676.dkr.ecr.us-east-1.amazonaws.com/h2oai/tour-bundle \
            --helm-app-runtime-image-repo 524466471676.dkr.ecr.us-east-1.amazonaws.com/h2oai/tour \
            --generate-dockerfile

      - uses: actions/upload-artifact@v3
        with:
          name: wave-bundle
          path: |
            ./py/tmp/tour/*.Dockerfile
            ./py/tmp/tour/*.wave

      - uses: actions/upload-artifact@v3
        with:
          name: wave-bundle-helm
          path: py/tmp/tour/helm/

      - name: Remove files in tmp folder
        run: make remove-build-apps-directory

  build-and-publish:
    needs: release
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read # This is required for actions/checkout

    uses: ./.github/workflows/wave-bundle-docker-build-publish.yaml
    with:
      build-version: ${{ needs.release.outputs.build-version }}
      bundle-artifact: wave-bundle
      wave-app-name: tour
